In [51]:
import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [52]:
df = pd.read_csv("Product listing.csv")

In [53]:
df

      Unnamed: 0    company                                            product
0              1         HP  HP 15 Ryzen 5 4500U Processor 15.6-inch(39.6 c...
1              1         HP  HP 15 Ryzen 3 Thin & Light 15.6-inch (39.6 cms...
2              1       Dell  Dell Inspiron 3502 15.6" (39.62 cms) HD Displa...
3              1       ASUS  ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...
4              1       ASUS  ASUS VivoBook 14 (2021) 14.0-inch (35.56 cms) ...
...          ...        ...                                                ...
3149          10       Oboe  Oboe Silicon Soft Cover Case for Redmi Power B...
3150          10        ERD  ERD PB-10KC Li-Polymer Power Bank | 10000mAh S...
3151          10  ERH India  ERH India DC Power Bank Charger Board Charging...
3152          10   Leonardi  Leonardi Power Bank with Nano Spray Face Mist ...
3153          10    GIZMORE  GIZMORE GIZPD10KP, 10000mAh Power Bank with 18...

[3154 rows x 3 columns]

In [54]:
df.rename( columns={'Unnamed: 0':'category', 'company': 'company', 'product':'product'}, inplace=True )

In [55]:
df

      category    company                                            product
0            1         HP  HP 15 Ryzen 5 4500U Processor 15.6-inch(39.6 c...
1            1         HP  HP 15 Ryzen 3 Thin & Light 15.6-inch (39.6 cms...
2            1       Dell  Dell Inspiron 3502 15.6" (39.62 cms) HD Displa...
3            1       ASUS  ASUS VivoBook 15 (2020), 39.6 cm HD, Dual Core...
4            1       ASUS  ASUS VivoBook 14 (2021) 14.0-inch (35.56 cms) ...
...        ...        ...                                                ...
3149        10       Oboe  Oboe Silicon Soft Cover Case for Redmi Power B...
3150        10        ERD  ERD PB-10KC Li-Polymer Power Bank | 10000mAh S...
3151        10  ERH India  ERH India DC Power Bank Charger Board Charging...
3152        10   Leonardi  Leonardi Power Bank with Nano Spray Face Mist ...
3153        10    GIZMORE  GIZMORE GIZPD10KP, 10000mAh Power Bank with 18...

[3154 rows x 3 columns]

In [56]:
df['product'].dropna(inplace = True)

In [58]:
df['product'] = [entry.lower() for entry in df['product']]
df['company'] = [entry.lower() for entry in df['company']]
df

      category    company                                            product
0            1         hp  hp 15 ryzen 5 4500u processor 15.6-inch(39.6 c...
1            1         hp  hp 15 ryzen 3 thin & light 15.6-inch (39.6 cms...
2            1       dell  dell inspiron 3502 15.6" (39.62 cms) hd displa...
3            1       asus  asus vivobook 15 (2020), 39.6 cm hd, dual core...
4            1       asus  asus vivobook 14 (2021) 14.0-inch (35.56 cms) ...
...        ...        ...                                                ...
3149        10       oboe  oboe silicon soft cover case for redmi power b...
3150        10        erd  erd pb-10kc li-polymer power bank | 10000mah s...
3151        10  erh india  erh india dc power bank charger board charging...
3152        10   leonardi  leonardi power bank with nano spray face mist ...
3153        10    gizmore  gizmore gizpd10kp, 10000mah power bank with 18...

[3154 rows x 3 columns]

In [59]:
df['product'] = [word_tokenize(element) for element in df['product']]
df

      category    company                                            product
0            1         hp  [hp, 15, ryzen, 5, 4500u, processor, 15.6-inch...
1            1         hp  [hp, 15, ryzen, 3, thin, &, light, 15.6-inch, ...
2            1       dell  [dell, inspiron, 3502, 15.6, '', (, 39.62, cms...
3            1       asus  [asus, vivobook, 15, (, 2020, ), ,, 39.6, cm, ...
4            1       asus  [asus, vivobook, 14, (, 2021, ), 14.0-inch, (,...
...        ...        ...                                                ...
3149        10       oboe  [oboe, silicon, soft, cover, case, for, redmi,...
3150        10        erd  [erd, pb-10kc, li-polymer, power, bank, |, 100...
3151        10  erh india  [erh, india, dc, power, bank, charger, board, ...
3152        10   leonardi  [leonardi, power, bank, with, nano, spray, fac...
3153        10    gizmore  [gizmore, gizpd10kp, ,, 10000mah, power, bank,...

[3154 rows x 3 columns]

In [60]:
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/mohammedrizwan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/mohammedrizwan/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [61]:
tag_map = defaultdict(lambda : wn.NOUN)
tag_map['J'] = wn.ADJ
tag_map['V'] = wn.VERB
tag_map['R'] = wn.ADV

In [62]:
tag_map

defaultdict(<function __main__.<lambda>()>, {'J': 'a', 'V': 'v', 'R': 'r'})

In [63]:
for index,entry in enumerate(df['product']):
    Final_words = []
    word_Lemmatized = WordNetLemmatizer()
    for word, tag in pos_tag(entry):
        if word not in stopwords.words('english') and word.isalpha():
            word_Final = word_Lemmatized.lemmatize(word,tag_map[tag[0]])
            Final_words.append(word_Final)
    df.loc[index,'text_final'] = str(Final_words)

In [64]:
df

,category,company,product,text_final
0,1,hp,"[hp, 15, ryzen, 5, 4500u, processor, 15.6-inch...","['hp', 'ryzen', 'processor', 'cm', 'fhd', 'lap..."
1,1,hp,"[hp, 15, ryzen, 3, thin, &, light, 15.6-inch, ...","['hp', 'ryzen', 'thin', 'light', 'cm', 'fhd', ..."
2,1,dell,"[dell, inspiron, 3502, 15.6, '', (, 39.62, cms...","['dell', 'inspiron', 'cm', 'hd', 'display', 'l..."
3,1,asus,"[asus, vivobook, 15, (, 2020, ), ,, 39.6, cm, ...","['asus', 'vivobook', 'cm', 'hd', 'dual', 'core..."
4,1,asus,"[asus, vivobook, 14, (, 2021, ), 14.0-inch, (,...","['asus', 'vivobook', 'cm', 'fhd', 'intel', 'pe..."
...,...,...,...,...
3149,10,oboe,"[oboe, silicon, soft, cover, case, for, redmi,...","['oboe', 'silicon', 'soft', 'cover', 'case', '..."
3150,10,erd,"[erd, pb-10kc, li-polymer, power, bank, |, 100...","['erd', 'power', 'bank', 'single', 'input', 'p..."
3151,10,erh india,"[erh, india, dc, power, bank, charger, board, ...","['erh', 'india', 'dc', 'power', 'bank', 'charg..."
3152,10,leonardi,"[leonardi, power, bank, with, nano, spray, fac...","['leonardi', 'power', 'bank', 'nano', 'spray',..."
3153,10,gizmore,"[gizmore, gizpd10kp, ,, 10000mah, power, bank,...","['gizmore', 'power', 'bank', 'fast', 'charge',..."

In [65]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(df['text_final'],df['company'],test_size=0.3)

In [66]:
# Train_X
Test_Y

1136               dell
596               redmi
1569               acer
2528    a t enterpeises
446              i kall
             ...
2897               urbn
2735            samsung
2719                 vu
695                hoin
2083                pny
Name: company, Length: 947, dtype: object

In [67]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)

In [68]:
Train_Y

array([190,   4, 280, ...,  43, 185, 170])

In [69]:
le_name_mapping = dict(zip(Encoder.classes_, Encoder.transform(Encoder.classes_)))

In [70]:
le_name_mapping

{' ant esports': 0,
 '3idea': 1,
 'a t enterpeises': 2,
 'accede': 3,
 'acer': 4,
 'adcom': 5,
 'adnet': 6,
 'advire ldnio': 7,
 'akai': 8,
 'akg': 9,
 'alketron': 10,
 'amazon': 11,
 'ambrane': 12,
 'anay traders': 13,
 'ankeer': 14,
 'aoc': 15,
 'aplt': 16,
 'apple': 17,
 'arika': 18,
 'arn': 19,
 'asus': 20,
 'asworld': 21,
 'atpos': 22,
 'avengers': 23,
 'avita': 24,
 'belkin': 25,
 'benq': 26,
 'bestow': 27,
 'blackberry': 28,
 'blackstar': 29,
 'blaupunkt': 30,
 'boat': 31,
 'bontech': 32,
 'bose': 33,
 'boult': 34,
 'brother': 35,
 'call mate': 36,
 'call one': 37,
 'canon': 38,
 'cazibe': 39,
 'clavier': 40,
 'cloudwalker': 41,
 'coconut': 42,
 'conekt': 43,
 'consistent': 44,
 'consomb': 45,
 'coolnut': 46,
 'corsair': 47,
 'cosmic': 48,
 'cps': 49,
 'crayotalk': 50,
 'croma': 51,
 'crossloop': 52,
 'cyan': 53,
 'cybertronion': 54,
 'cyntexia': 55,
 'dark edge': 56,
 'ddark': 57,
 'dell': 58,
 'docooler': 59,
 'dorca': 60,
 'dr vaku': 61,
 'dudao': 62,
 'dylect': 63,
 'dynora': 64,
 'eairtec': 65,
 'edyell': 66,
 'elevn': 67,
 'elista': 68,
 'ennui': 69,
 'enspire': 70,
 'enter': 71,
 'entwino': 72,
 'eo': 73,
 'eprinter': 74,
 'epson': 75,
 'erd': 76,
 'erh india': 77,
 'evm': 78,
 'fabmania': 79,
 'fingers': 80,
 'flix': 81,
 'fnx': 82,
 'foxin': 83,
 'foxsky': 84,
 'frontech': 85,
 'fuel trio': 86,
 'fujifilm': 87,
 'fujitsu': 88,
 'gandiva': 89,
 'generic': 90,
 'genuine xer': 91,
 'gigabyte': 92,
 'gionee': 93,
 'glamaxy': 94,
 'golden fashion': 95,
 'gouri shankar': 96,
 'hamkaw': 97,
 'harry & james': 98,
 'hexes': 99,
 'hisense': 100,
 'hivagi': 101,
 'hoin': 102,
 'hp': 103,
 'huidi': 104,
 'i kall': 105,
 'iball': 106,
 'icon': 107,
 'iffalcon': 108,
 'indian decor': 109,
 'indianhikes': 110,
 'inf': 111,
 'intex': 112,
 'itel': 113,
 'jbl': 114,
 'jeeban': 115,
 'jio': 116,
 'joie': 117,
 'kbr': 118,
 'kechaoda': 119,
 'kelexx': 120,
 'kevin': 121,
 'khodiyar': 122,
 'kingston': 123,
 'kioxia': 124,
 'kodak': 125,
 'ktcoo': 126,
 'l b ramani': 127,
 'landmark lm': 128,
 'lapcare': 129,
 'lava': 130,
 'layfuz': 131,
 'lenovo': 132,
 'lg': 133,
 'live': 134,
 'lloyd': 135,
 'logitech': 136,
 'logo': 137,
 'lucario': 138,
 'lumi': 139,
 'lumiford': 140,
 'lumx': 141,
 'manycast': 142,
 'maplin': 143,
 'metz': 144,
 'mi': 145,
 'micromax': 146,
 'microsoft': 147,
 'miniso': 148,
 'mivi': 149,
 'mk': 150,
 'motorola': 151,
 'mozu': 152,
 'msi': 153,
 'mvm enterprise': 154,
 'mvtech': 155,
 'narayan': 156,
 'nexat': 157,
 'nexgen': 158,
 'ngx': 159,
 'nillkin': 160,
 'nk star': 161,
 'noise': 162,
 'nst': 163,
 'oboe': 164,
 'offbeat': 165,
 'oleander': 166,
 'one roar den': 167,
 'oneplus': 168,
 'onida': 169,
 'oppo': 170,
 'optical': 171,
 'otg': 172,
 'ouxus': 173,
 'ovono': 174,
 'panasonic': 175,
 'pankreeti': 176,
 'pantum': 177,
 'pegrim': 178,
 'pekdi': 179,
 'peripage': 180,
 'perixx perimice': 181,
 'phantom': 182,
 'philips': 183,
 'pny': 184,
 'portronics': 185,
 'praha': 186,
 'premium decor': 187,
 'prosonic': 188,
 'protech': 189,
 'ptron': 190,
 'punnkfunnk': 191,
 'radiant': 192,
 'rambot': 193,
 'rapoo': 194,
 'ravechi': 195,
 'rdp': 196,
 'realme': 197,
 'redgear': 198,
 'redmi': 199,
 'ricoh': 200,
 'rog': 201,
 'rugtek': 202,
 's.f.mobile': 203,
 'samsung': 204,
 'sandisk': 205,
 'sanyipace': 206,
 'seiben': 207,
 'sellable': 208,
 'shinco': 209,
 'shopnet': 210,
 'simmtronics': 211,
 'smartnxt': 212,
 'smkt': 213,
 'sony': 214,
 'strontium': 215,
 'swipe': 216,
 'syntronic': 217,
 'syska': 218,
 'takkson': 219,
 'tcl': 220,
 'tecno': 221,
 'teflon': 222,
 'tiitan': 223,
 'tooarts': 224,
 'toreto': 225,
 'toshiba': 226,
 'transcend': 227,
 'truke buds': 228,
 'tvs': 229,
 'upsarg': 230,
 'urbn': 231,
 'veltin': 232,
 'viboton': 233,
 'viewsonic': 234,
 'vismac': 235,
 'vitsa': 236,
 'vivo': 237,
 'vouvou': 238,
 'vu': 239,
 'vw': 240,
 'wecool': 241,
 'wep': 242,
 'wetek': 243,
 'wk life': 244,
 'wol3d': 245,
 'xifo': 246,
 'yodel': 247,
 'zebion': 248,
 'zebra': 249,
 'zebronics': 250,
 'zinq': 251,
 'zoook': 252,
 'zysk': 253}

In [71]:
Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect.fit(df['text_final'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [36]:
print(Train_X_Tfidf)

  (0, 2026)	0.15100323336408975
  (0, 1878)	0.411071319010764
  (0, 1753)	0.33150078465414046
  (0, 1709)	0.2476337785240684
  (0, 1476)	0.17150096991292185
  (0, 1466)	0.19137309179366646
  (0, 1464)	0.28130005443905476
  (0, 940)	0.2289198083633691
  (0, 820)	0.22942872135394765
  (0, 672)	0.411071319010764
  (0, 486)	0.43201531536086785
  (0, 147)	0.17657432790170674
  (1, 2111)	0.33942157232595943
  (1, 1809)	0.2667006589116168
  (1, 1342)	0.2378187303768804
  (1, 1049)	0.20131865284909736
  (1, 949)	0.3438000301123818
  (1, 942)	0.3484952695870376
  (1, 813)	0.2613979154486286
  (1, 687)	0.20712073367711786
  (1, 495)	0.24303990105207607
  (1, 469)	0.2504870948128927
  (1, 342)	0.17003156417057164
  (1, 189)	0.12904781068816448
  (1, 3)	0.44533726061747636
  :	:
  (2204, 469)	0.15283305109137282
  (2204, 367)	0.2442626177476094
  (2204, 249)	0.3610189752486583
  (2204, 202)	0.141822228228928
  (2204, 189)	0.07873767173061928
  (2204, 31)	0.28778089928763156
  (2204, 10)	0.33129918082765375
  (2205, 1823)	0.22226490106416683
  (2205, 1771)	0.39223386943255106
  (2205, 1668)	0.23876592928178217
  (2205, 1667)	0.3974270609908893
  (2205, 1557)	0.19353229777401154
  (2205, 1053)	0.41643367007332244
  (2205, 910)	0.4336037018764039
  (2205, 763)	0.29326409849968404
  (2205, 495)	0.2234295048850833
  (2205, 198)	0.21676016787196603
  (2206, 2026)	0.19434380540387028
  (2206, 1956)	0.5099309027802081
  (2206, 1850)	0.3568552181824094
  (2206, 1793)	0.39659937723520927
  (2206, 1410)	0.27952903942652657
  (2206, 991)	0.5099309027802081
  (2206, 519)	0.24887011241140747
  (2206, 189)	0.13214349994953303

In [72]:
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)

predictions_SVM = SVM.predict(Test_X_Tfidf)
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

SVM Accuracy Score ->  4.540654699049631